{{define "login-form"}}
<div class="menu-block-wrap" >
    <form class="menu-block form-signin m-auto" action="/api/pages/login" method="post">
        
        <input type="hidden" autofocus/>
        
        <div class="form-label-group">
            <input  type="username" id="username" class="form-control" placeholder="Имя пользователя" required>
            <label for="username">Имя пользователя</label>
        </div>
        
        <div class="form-label-group">
            <input  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Пароль</label>
        </div>
        
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me">Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Войти</button>

    </form>
</div>
{{end}}


{{define "example-menu-links"}}
<div class="menu-block-wrap" >
    <nav class="nav menu-block menu-block-upper flex-column m-auto">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
</div>
{{end}}