<div class="container">
        <div class="row">
                <div class="col-sm">
                        Copyright &copy {{copy}} <a href="https://github.com/WinPooh32" target="_blank">WinPooh32</a>
                </div>
                <div class="col-sm">
                        <p>Пробный текст, йоба-на 123 123 123</p>
                        <p>Новая строка </p>
                        <p>Еще новая строка 2 </p>
                        <p>Еще новая строка 5 </p>
                </div>
        </div>
</div>
