<div class="container-responsive p-2">
        <ul class="horizontal_menu">
                <li class="first"><a class="text-secondary" href="https://github.com/twbs/bootstrap">GitHub</a></li>
                <li><a class="text-secondary" href="https://twitter.com/getbootstrap">Twitter</a></li>
                <li><a class="text-secondary" href="/docs/4.3/examples/">Examples</a></li>
                <li class="last"><a class="text-secondary"href="/docs/4.3/about/overview/">About</a></li>
        </ul>
        
        <p class="m-0">Designed and built with all the love in the world by the <a class="text-secondary" href="/docs/4.3/about/team/">Bootstrap team</a> with the help of <a class="text-secondary" href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p class="m-0">Currently v4.3.1. Code licensed <a class="text-secondary" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a class="text-secondary" href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
</div>
