<!doctype html>

<html>
<head>
    <title>{{.title}}</title>
    {{include "layouts/head"}}

</head>
<body>
    <wrapper>
        
        <div class="header-wrap">
                {{include "layouts/navbar"}}
        </div>
        
        <container-grow>
            {{template "content" .}}
        </container-grow>
        
        <footer class="footer-wrap">
                {{include "layouts/footer"}}
        </footer>
    </wrapper>  

    {{template "reactjs-dev" .}}
    {{template "bootstrapScripts" .}}
    {{template "bundle" .}}
</body>
</html>