<!-- <div class="row p-0"> -->
        <!-- col-no-padding -->
    <div class="container p-0">
        <nav class="pl-sm-1 pr-sm-1 pl-md-0 pr-md-0 pl-lg-0 pr-lg-0 floatMaterial navbar navbar-expand-lg navbar-dark bg-dark" style="box-shadow: none;">
            <a class="navbar-brand" href="#">Контент</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Свежее <span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item">
                            <a class="nav-link" href="#">Свежее</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сообщества</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                </ul>
                <!-- type="search" -->
                <form class="form-inline my-2 my-lg-0" style="min-width: 295px;">
                    <input class="form-control mr-sm-2" type="search"  placeholder="Search" aria-label="Search" style="width: 100%; flex: 1;">
                    <button class="fas fa-search btn btn-success btn-lg my-2 my-sm-0" style="font-size: 13pt;" type="submit"></button>
                </form>
            </div>
        </nav>
    </div>
<!-- </div> -->