<!doctype html>

<html>
<style>
    html, body
    {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    #notfound-404-table {
        height: 100%;
        width: 100%;
        border-spacing: 0px;
    }
</style>

<body>
    <table id="notfound-404-table" border="0">
        <tbody>    
            <tr height="95%" align="center">
                <td style="background: no-repeat center/100% url('/assets/img/doge.jpeg');" >
                </td>
            </tr>
            <tr height="auto" align="center" width="100%">
                <td>
                    <h1>404</h1>
                    <p>Page not found!</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>