@charset 'utf-8';
@import "reset";

@import "login_form";
@import "loader";

@import "variables";
@import "themes/sandstone";

// Required
// @import "bootstrap/functions";
// @import "bootstrap/variables";
// @import "bootstrap/mixins";


// // Optional
// @import "bootstrap/reboot";
// @import "bootstrap/type";
// @import "bootstrap/code";
// @import "bootstrap/grid.scss";
// @import "bootstrap/utilities/spacing";
// @import "bootstrap/navbar";

@import "bootstrap/bootstrap.scss";
// @import "bootstrap/images";

@function size($idx){
    @return map-get($spacers, $idx);
}

$p-default: size(4);

@mixin flex-container() {
    display: flex;
    height: 100%;
    flex-grow:1;
}

@mixin flex-item() {
    flex: 1;
    display:flex;
    flex-direction:column;
}

@mixin flex-column() {
    flex-direction:column;
}

@mixin reset-sizes(){
    margin: 0px;
    padding: 0px;
    width: 100%;
}

@mixin border-0(){
    border: none !important;
}

@mixin rounded-0(){
    border-radius: 0 !important;
}

@mixin border-top-down(){
    border-top: $border-width solid $border-color !important; 
    border-bottom: $border-width solid $border-color !important;
}

%reset{
    @extend .p-0;
    @extend .m-0;
}

wrapper{
    @extend %reset, .container-fluid, .d-flex, .flex-column;
    min-height: 100vh;
}

body{
    @extend .bg-light;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

@include media-breakpoint-up(sm){
    .reg-form-center{
        margin-top: auto;
        margin-bottom: auto;
    }
}

.responsive-border{
    @include media-breakpoint-down(xs){
        @include border-0();
        @include border-top-down();
        @include rounded-0();
    }
}

.content-block{
    @include reset-sizes();

    @include media-breakpoint-down(xs){
        // margin-top: $p-default/2;
        margin-bottom: $p-default/2;
    }

    @include media-breakpoint-up(sm){
        margin-top: $p-default;
        margin-bottom: $p-default;
    }

    @extend .bg-white, .shadow-sm;
}

.menu{
    @include reset-sizes();
    padding: 0;
    margin: 0;
    
    @include media-breakpoint-down(xs){
        order: -1;
    }
    
    @include media-breakpoint-up(sm){
        padding-top: $p-default;
        padding-left: $p-default;
    }

    @extend .col-sm-3, .col-md-3;
}

.menu-block, .menu-block-wrap{
    @extend .bg-white;
}

.menu-block-wrap{
    margin-bottom: $p-default;
    @extend .bg-white, .shadow-sm, .p-2;
}

.menu-block{
    max-width: 350px;
}

@include media-breakpoint-down(xs){
    .menu-block-wrap{
        margin-bottom: $p-default/2;     
    }
}
@include media-breakpoint-up(sm){
    .menu-block-wrap{
        margin-bottom: $p-default;     
    }
}

@include media-breakpoint-down(md) {
    .container-responsive {
        @include make-container();
        @include reset-sizes();
    }

    container-grow{
        //fluid container
        @include make-container();
        @include flex-item();
        @include reset-sizes();
    }
}

@include media-breakpoint-up(lg) { 
    .container-responsive{
        @include make-container();
        @include make-container-max-widths();
    }
    
    container-grow{
        //container with max-widths
        @include make-container();
        @include make-container-max-widths();
        @include flex-item();
    }
    .content{
        @include reset-sizes();
        padding-top: $p-default;
        padding-bottom: $p-default;
    }
}

row{
    @extend .row;
    @extend %reset;
}

container-grow > p, h1, h2, h3,h4{
    @extend .p-2;
    @extend .m-0;
}

.content-blocks-wrap{
    @extend .col-sm-9, .col-md-9, .p-0;
}

.footer-wrap{
    @extend .container-fluid, .bg-dark, .text-light, .p-0;
}
.header-wrap{
    @extend .container-fluid, .bg-dark, .text-light;
}

ul.horizontal_menu li {
    display: inline;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}
ul.horizontal_menu li.first{
    margin-left: 0;
}
ul.horizontal_menu li.last{
    margin-right: 0;
}